<section class="about">
    <h1>About Us</h1>
    <p style="font-weight: bold">
      Dusk is a leading platform...
    </p>
    <div class="about-info">
        <div class="about-img">
            <img src="../../assets/logo.png" alt="DuskCorp">
        </div>
        <div>
            <p>
              Dusk Realty is a premier platform dedicated to 
              showcasing properties 
              for sale and rent, specializing in houses and land. With a commitment 
              to providing comprehensive real estate resources and listings, 
              Dusk Realty caters to both buyers and sellers alike. 
              Our platform serves as a trusted destination for individuals seeking 
              their dream homes or lucrative investment opportunities. Boasting a user
              base of over 12 million registered users globally, Dusk Realty is the 
              go-to hub for all your real estate needs.
            </p>
        </div>
    </div>
</section>


